---
layout: default
title: Code-People at the University of Minnesota
---

<div class="large-12 columns">
  <h4 class="subheader">We are an open network of <a href="http://www.umn.edu/">University of Minnesota</a> application developers looking to further our programming skills & capacity to innovate by meeting monthly to share tools & tricks of the trade via presentations, workshops, and facilitated discussions.</h4>
  <p class="join">
    <a href="https://groups.google.com/a/umn.edu/forum/#!forum/code-people" class="large button success radius">
      Join the Google Group
    </a>
  </p>
</div>

<div class="large-6 columns">
  <h3>Upcoming meetings</h3>
  <ul class="meetings">
    {% for post in site.categories.upcoming reversed limit:5 %}
      <li><strong><a href="{{ post.url }}">
        {% if post.presenters %}
          &ldquo;{{ post.title }}&rdquo; with {{ post.presenters }}
        {% else %}
          {{ post.title }}
        {% endif %}
      </a></strong><br />{{ post.date | date: "%B %-d, %Y" }}</li>
      {% else %}
      <li>Stay tuned!</li>
    {% endfor %}
  </ul>
</div>
<div class="large-6 columns">
  <h3>Recent meetings</h3>
  <ul class="meetings">
    {% for post in site.categories.meetings limit:5 %}
      <li><strong><a href="{{ post.url }}">
        {% if post.presenters %}
          &ldquo;{{ post.title }}&rdquo; with {{ post.presenters }}
        {% else %}
          {{ post.title }}
        {% endif %}
      </a></strong><br />{{ post.date | date: "%B %-d, %Y" }}</li>
    {% endfor %}
  </ul>
  <p><a href="/meetings">See all meetings</a>
</div>

